<%= render :partial => "/shared/guild_sidebar" %>

<div class="content">
	<div class="box">
		<div>
			
			<table class="forum">
				<thead>
					<tr>
						<th>Forum</th>
						<th width="150px">Ostatni wpis</th>
					</tr>
				</thead>
				<tbody>
					<% if @forums.empty? %>
					<tr>
						<td colspan="2"><p class="info">Brak forum</p></td>
					</tr>
					<% else %>
					<% @forums.each do |forum| %>
					<tr>
						<td>
							<%= link_to forum.name, [@guild, forum], :class => 'title' %>
							<% if permitted_to? :manage_all, forum %>
							(
								<%= link_to "Edytuj", edit_guild_forum_path(@guild, forum) %> | 
								<%= link_to "Usuń", [@guild, forum], :method => :delete, :confirm => "Czy na pewno chcesz usunąć to forum?" %>
							)
							<% end %>
							<%= content_tag :div, simple_format(forum.description), :class => 'desc' unless forum.description.empty? %>
						</td>
						<td class="text_center">
							<% if forum.recent_topic.nil? %>
								Brak
							<% else %>
								<small>
									<%= link_to forum.recent_topic.title, [@guild, forum, forum.recent_topic] %>
								</small><br />
								<%= distance_of_time_in_words_to_now forum.recent_topic.updated_at %> temu przez <%= link_to forum.recent_topic.user.login, forum.recent_topic.user %>
							<% end %>
						</td>
					</tr>
					<% end %>
					<% end %>
				</tbody>
			</table>
			
			<% if permitted_to? :create, @guild.forums.new %>
			<div class="button control">
				<%= link_to 'Nowe forum', new_guild_forum_path(@guild) %>
			</div>
			<% end %>
		</div>
	</div>
</div>