<%= render :partial => "/shared/guild_sidebar" %>

<div class="content">
	<div class="box">
		<div>
			<%= link_to "Forum", guild_forums_path(@guild) %> &#x2192; <%= content_tag :b, @forum.name %>
		</div>
	</div>

	<div class="box">
		<div>
			<script type="text/javascript" id="AdTaily_Widget" key="X4ycGaq8yMlXCo4" src="http://static.adtaily.com/widget.js"></script>
			<noscript>Reklamy na tej stronie sprzedawane są przez widget z AdTaily.com (PLBLOADTAILY0001)</noscript>
		</div>
	</div>

	<div class="box">
		<div>
			<table>
				<thead>
					<tr>
						<th>Temat</th>
						<th width="100px" class="text_center">Odpowiedzi</th>
						<th width="150px" class="text_center">Ostatni post</th>
					</tr>
				</thead>
				<tbody>
					<% if @topics.empty? %>
					<tr>
						<td colspan="3" class="info">Brak tematów</td>
					</tr>
					<% else %>
						<%= render :partial => @topics %>
					<% end %>
				</tbody>
			</table>
			
			<% if permitted_to? :create, @forum.topics.new %>
			<div class="control">
				<div class="button special right">
					<%= link_to "Nowy temat", new_guild_forum_topic_path(@guild, @forum) %>
				</div>
				<%= will_paginate @topics %>
				<div class="clear"></div>
			</div>
			<% end %>
		</div>
	</div>
</div>