<div class="content center">
	
	<div class="box">
		<div>
			<% form_tag guilds_path, :id => 'search', :method => :get do %>
				<%= text_field_tag :keyword, params[:keyword] %>
				<div class="button white">
					<%= submit_tag 'Szukaj gildii' %>
				</div>
			<% end %>
		</div>
	</div>
	
	<div class="box">
		<div>
			<table>
				<thead>
					<tr>
						<th width="100px">Logo</th>
						<th>Gildia</th>
					</tr>
				</thead>
				<tbody>
					<% for guild in @guilds %>
					<tr class="<%= cycle('normal', 'alt') %>">
						<td>
							<%= image_tag guild.logo.url(:mini) %>
						</td>
						<td>
							<%= link_to guild.name, guild %><br/>
							<%= simple_format guild.about %>
						</td>
					</tr>
					<% end %>
				</tbody>
			</table>
			
			<%= will_paginate @guilds %>
		</div>
	</div>
</div>