<div class="content center">
	<div class="box">
		<div>
			<fieldset>
				<legend>Nowa gildia/klan</legend>
				<% semantic_form_for @guild do |f| %>
					<% f.inputs do %>
						<%= f.input :name %>
						<%= f.input :game, :hint => "np. World of Warcraft, Counter Strike, Halo itp." %>
						<%= f.input :server, :hint => "adres www lub ip" %>
						<%= f.input :about, :required => false %>
						<%= f.input :typ, :as => :select, :collection => [["Klan", GT_TEAM], ["Gildia", GT_GUILD]], :include_blank => false %>
						
					<% end %>
					<div class="text_right">
						<div class="button special">
							<%= f.submit 'Dodaj' %>
						</div>
						<div class="button white">
							<%= link_to 'Anuluj', guilds_path %>
						</div>
					</div>
				<% end %>
			</fieldset>

		</div>
	</div>
</div>