<div class="content right">
	<div class="box">
		<div>
			<fieldset>
				<legend>Nowy film</legend>
			<% semantic_form_for([@guild, @movie], :html => { :multipart => true }) do |f| %>
				<% f.inputs do %>
					<%= f.input :title %>
					<%= f.input :description %>
					<%= f.input :clip, :hint => "Rozmiar max. 100 MB, film zostanie zeskalowany do 480x360, bitrate wynosi 900 Kb" %>
					
					<div class="text_right">
						<div class="button special">
							<%= f.submit 'Dodaj' %>
						</div>
						<div class="button white">
							<%= link_to 'Anuluj', guild_movies_path(@guild) %>
						</div>
					</div>
				<% end %>
			<% end %>
			</fieldset>
		</div>
	</div>
</div>
