<% content_for :head do %>
	<script type="text/javascript" charset="utf-8">
		$(document).ready(function () {
			flowplayer("player", "/flash/flowplayer-3.1.5.swf", <%= @movie.video.url.inspect %>);
		});
	</script>
<% end %>
<%= render :partial => "/shared/guild_sidebar" %>
<div class="content">
	<div class="box">
		<div>
			<%= link_to "Filmy", guild_movies_path(@guild) %> &#x2192; <%= content_tag :b, @movie.title %>
		</div>
	</div>
	
	<div class="box">
		<div class="text_center">
			<% unless @movie.video.file? %>
				<%= image_tag 'reksio_anim.gif' %>
				<p class="info">Film jest w kolejce do kompresji... To może chwile potrwać...</p>
			<% else %>
			<div class="player" id="player" style="background-image:url(<%= @movie.preview.url %>)">
				<%= image_tag 'play_large.png', :class => "play_button" %>
			</div>
			<% end %>
		</div>
	</div>
	
	<div class="box">
		<div>
			<%= simple_format @movie.description %>
		</div>
	</div>
</div>