<tr class="<%= cycle('normal', 'alt') %>">
	<td><%= link_to_topic topic %></td>
	<td class="text_center">
		<%= topic.posts_count %>
	</td>
	<td class="text_center">
		<% if topic.replied_by.nil? %>
			Brak
		<% else %>
			<%= distance_of_time_in_words_to_now topic.updated_at %> temu przez <%= link_to topic.replied_by.login, topic.replied_by %>
		<% end %>
	</td>
</tr>