<%= render :partial => "/shared/guild_sidebar" %>

<div class="content">
	<div class="box">
		<div>
			<%= link_to "Forum", guild_forums_path(@guild) %> &#x2192; <%= link_to @forum.name, guild_forum_path(@guild, @forum) %> &#x2192; <%= content_tag :b, @topic.title %>
		</div>
	</div>
	
	<div class="box">
		<div>
			<script type="text/javascript" id="AdTaily_Widget" key="X4ycGaq8yMlXCo4" src="http://static.adtaily.com/widget.js"></script>
			<noscript>Reklamy na tej stronie sprzedawane są przez widget z AdTaily.com (PLBLOADTAILY0001)</noscript>
		</div>
	</div>
	
	<div class="box">
		<div>
			<table class="posts wide">
				<%= render :partial => "/topics/post", :collection => @posts %>
			</table>
		</div>
	</div>
	
	<% if permitted_to? :create, @post %>
	<div class="box">
		<div>
			<fieldset>
				<legend>Odpowiedź</legend>
				<% semantic_form_for [@guild, @forum, @topic, @post] do |f| %>
					<% f.inputs do %>
						<%#= f.input :body, :hint => '*strong* | # lista numerowana | * lista wypunktowana | _em_ | __italic__ | "link":http:// | bq. cytat.' %>
						<%= f.text_area :body %>
						<div class="text_right">
							<div class="button special">
								<%= f.submit "Odpowiedz" %>
							</div>
						</div>
					<% end %>
				<% end %>
		</div>
	</div>
	<% end %>
</div>