<div class="content right">
	<div class="box">
		<div>
			<fieldset>
				<legend>Edycja profilu użytkownika <%= @user.login %></legend>
				<% semantic_form_for @user, :html => { :multipart => true } do |f| %>
					<% f.inputs do %>
						<%= f.inputs :full_name %>
						<%= f.inputs :www %>
						<%= f.inputs :gg %>
						<%= f.inputs :jabber %>
						<%= f.input :avatar %>
						
						<h2>Powiadamiaj mnie o:</h2>
						<%= f.inputs :notification_posts %>
						<%= f.inputs :notification_photos %>
						<%= f.inputs :notification_movies %>
						<%= f.inputs :notification_events %>
					<% end %>
					<div class="text_right">
						<div class="button">
							<%= f.submit "Zapisz" %>
						</div>
					</div>
				<% end %>
			</fieldset>
		</div>
	</div>
</div>