<div class="sidebar">
	<div class="avatar_logo" style="background-image: url('<%= @user.avatar.url(:logo) %>')"></div>
	<div class="box">
		<dl>
			<dt>Login:</dt>
			<dd><%= @user.login %></dd>
			<% unless @user.full_name.nil? || @user.full_name.empty? %>
			<dt>Imie i nazwisko:</dt>
			<dd><%= @user.full_name %></dd>
			<% end %>
			<% unless @user.www.nil? || @user.www.empty? %>
			<dt>WWW:</dt>
			<dd><%= link_to @user.www, @user.www %></dd>
			<% end %>
			<% unless @user.gg.nil? %>
			<dt>Gadu Gadu:</dt>
			<dd>
				<%= link_to image_tag("http://status.gadu-gadu.pl/users/status.asp?id=#{@user.gg}&styl=3"), "gg:#{@user.gg}" %>
			</dd>
			<% end %>
			<% unless @user.jabber.nil? || @user.jabber.empty? %>
			<dt>Jabber/Tlen:</dt>
			<dd>
				<%= link_to @user.jabber, @user.jabber %>
			</dd>
			<% end %>
			<% unless @user.guild_member.nil? || @user.guild_member.empty? %>
			<dt>Gildie/Klany:</dt>
			<dl>
				<% @user.guild_member.each do |guild| %>
				<ul>
					<li><%= link_to guild.name, guild %></li>
				</ul>
				<% end %>
			</dl>
			<% end %>
		</dl>
	</div>
</div>
<div class="content">
	<%= render :partial => "/shared/dashboard" %>
</div>