<div class="sidebar">
	<div class="clan_logo" style="background-image: url('<%= @guild.logo.url %>')"></div>
	<div class="box">
		
		<% if logged_in? %>
			<% unless @guild.isGuildMaster?(self.current_user) %>
				<div class="button special">
					<% if self.current_user.isGuildMember?(@guild) %>
						<%= link_to "Opuść", leave_guild_members_path(@guild), :confirm => "Czy na pewno chcesz opuścić tą gildie?" %>
					<% else %>
						<%= link_to "Dołącz", new_guild_member_path(@guild) %>
					<% end %>
				</div>
			<% end %>
		<% else %>
			<div class="button special">
				<%= link_to "Dołącz", new_guild_member_path(@guild) %>
			</div>
		<% end %>
		
		<dl>
			<dt>Nazwa:</dt>
			<dd><%= @guild.name %></dd>
			<dt>Gra:</dt>
			<dd><%= @guild.game %></dd>
			<dt>Serwer:</dt>
			<dd><%= link_to @guild.server, @guild.server %></dd>
			<% unless @guild.about.empty? %>
			<dt>O <%= @guild.typ == GT_TEAM ? 'klanie' : 'gildii' %>:</dt>
			<dd>
				<%= simple_format @guild.about %>
			</dd>
			<% end %>
		</dl>
	</div>
</div>