<div class="content right">
	<div class="box">
		<div>
			<fieldset>
				<legend><%= @event.new_record? ? "Nowe wydarzenie" : "Edycja wydarzenia" %></legend>
				<% semantic_form_for([@guild,@event]) do |f| %>
					<% f.inputs do %>
						<%= f.input :what %>
						<%= f.input :when, :required => false %>
						<%= f.input :where, :required => false %>
						<%= f.input :description, :required => false %>
						<div class="text_right">
							<div class="button special">
								<%= f.submit 'Zapisz' %>
							</div>
							<div class="button white">
								<%= link_to 'Anuluj', guild_events_path(@guild) %>
							</div>
						</div>
				<% end %>
			<% end %>
			</fieldset>
		</div>
	</div>
</div>
