<%= render :partial => "/shared/guild_sidebar" %>

<div class="content">
	<div class="box">
		<div>
			<%= link_to "Wydarzenia", guild_events_path(@guild) %> &#x2192; <%= @event.what %>
		</div>
	</div>
	
	<div class="box">
		<div>
			<h3>Główne</h3>
			<p>
				<%= @event.what %>
				<% if @event.when > Time.now %>
					odbędzie się za <%= distance_of_time_in_words_to_now(@event.when) %>(<%= I18n.l @event.when, :format => :long %>)
				<% else %>
					odbyło się <%= distance_of_time_in_words_to_now(@event.when) %> temu(<%= I18n.l @event.when, :format => :long %>)
				<% end %>
				<% unless @event.where.nil? || !@event.where.blank? %>
				 w <%= @event.where %>
				<% end %>.
			</p>
			<h3>Opis</h3>
			<% if @event.description.nil? || @event.description.blank? %>
				<p class="info">Brak</p>
			<% else %>
				<%= simple_format(@event.description) %>
			<% end %>
			
			<p class="text_center">
				<% link_to "http://www.google.com/calendar/event?action=TEMPLATE&text=#{@event.what}&dates=#{to_google_calendar(@event.when)}/#{to_google_calendar(@event.when+1.hour)}&location=#{@event.where}&details=#{@event.description}&trp=true&sprop=website:#{guild_event_url(@guild, @event)}", :target => "_blank" do %>
					<img src="http://www.google.com/calendar/images/ext/gc_button2_pl.gif" alt="Dodaj do Google Calendar" />
				<% end %>
			</p>
			
			<% if permitted_to? :edit, @event %>
			<div class="text_right">
				<div class="button special">
					<%= link_to "Edytuj", edit_guild_event_path(@guild, @event) %>
				</div>
				<div class="button white">
					<%= link_to "Usuń", [@guild, @event], :method => :delete, :confirm => "Czy na pewno chcesz usunąć to wydarzenie?" %>
				</div>
			</div>
			<% end %>
		</div>
	</div>
</div>
