<div class="content">
	<div class="box">
		<div>
			<fieldset>
				<legend>Logowanie w serwisie:</legend>
			<% form_for @user_session do |f| %>

			  <p>
			    <%= f.label :login %><br />
			    <%= f.text_field :login %>
			  </p>
			  <p>
			    <%= f.label :password, 'Hasło' %><br />
			    <%= f.password_field :password %>
			  </p>

				<div class="button special">
			  	<%= f.submit "Zaloguj się" %>
			  </div>
			
			<% end %>
			</fieldset>
		</div>
	</div>
</div>
