<div class="content">
	<div class="box">
		<div>
			<fieldset>
				<legend>Logowanie w serwisie:</legend>
			<% form_for @user_session do |f| %>

			  <p>
			    <%= f.label :login %><br />
			    <%= f.text_field :login %>
			  </p>
			  <p>
			    <%= f.label :password, 'Hasło' %><br />
			    <%= f.password_field :password %>
			  </p>
				
				<p>
					<%= f.check_box :remember_me %>
					<%= f.label :remember_me, 'Zapamiętaj mnie' %>
				</p>
				
				<div class="button special">
			  	<%= f.submit "Zaloguj się" %>
			  </div>
				
				<p>Nie masz konta? <%= link_to "Zarejestruj sie!", register_path %></p>
			<% end %>
			</fieldset>
		</div>
	</div>
</div>
