<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
   
<html xmlns="http://www.w3.org/1999/xhtml" lang="pl">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title><%= title %></title>
	<meta name="viewport" content="width=900" />
	<%= javascript_tag "window._token = '#{form_authenticity_token}'" %>
	<%= javascript_include_merged :base %>
	<%= stylesheet_link_merged :base %>

	<% if !@guild.nil? && !@guild.new_record? %>
		<style type="text/css" media="screen">
			body { 
				background-image: url('<%= @guild.background.url %>') !important; 
				background-color: #<%= @guild.background_color %> !important; 
			}
		</style>
		<%= rss_link(title, guild_url(:id => @guild.permalink, :format => :rss)) %>
	<% end %>
	<%= yield :head %>
	
	<script src="http://www.wowhead.com/widgets/power.js"></script>
  <script src="http://i.thottbot.com/power.js"></script>
  <script src="http://www.wowdb.com/js/extooltips.js"></script>
</head>
<body>
	<div class="top reset" >
		<ul class="reset">
			<% if !@guild.nil? && !@guild.new_record? %>
			<li><%= link_to "Kokpit", @guild %></li>
			<li><%= link_to "Forum", guild_forums_path(@guild) %></li>
			<li><%= link_to "Zdjęcia", guild_photos_path(@guild) %></li>
			<li><%= link_to "Filmy", guild_movies_path(@guild) %></li>
			<li><%= link_to "Członkowie", guild_members_path(@guild) %></li>
			<li><%= link_to "Kalendarz", guild_events_path(@guild) %></li>
				<% if permitted_to? :change, @guild %>
					<li><%= link_to 'Ustawienia', edit_guild_path(@guild) %></li>
				<% end %>
			<% else %>
				<li><%= link_to "Gildie", guilds_path %></li>
				<li><%= link_to "Stwórz nową gildię!", new_guild_path %></li>
			<% end %>
			<% if logged_in? %>
				<li class="right"><%= link_to 'Wyloguj', logout_path %></li>
				<li class="right"><%= link_to 'Profil', self.current_user %></li>
				<li class="right"><%= link_to 'Edytuj', edit_user_path(self.current_user) %></li>
			<% else %>
				<li class="right"><%= link_to 'Zaloguj się', login_path %></li>
				<li class="right"><%= link_to 'Zarejestruj się', register_path %></li>
			<% end %>
		</ul>
	</div>
	
	<div class="wrapper">
		<%- flash.each do |name, msg| -%>
			<%= content_tag :div, msg, :class => "flash_#{name}" %>
		<%- end -%>

		<%= yield %>
		<div class="clear"></div>
	</div>
</body>
</html>